<p>home works!</p>
<button routerLink="databinding">Data Binding</button>
<button routerLink="test">Test way1</button>
<button routerLink="demo">demo</button>
<button (click)="test()">test way 2</button>
<button (click)="directivecomponent()">directivecomponent</button>

<button routerLink="/user/Login">User Modul</button>
<button routerLink="/user/sign-up">User Modul</button>
<button routerLink="/form/Reactive">Reactive Form modules</button>
<button routerLink="/form/TemplateDriven">Template Driven Form Module</button>
<button routerLink="/parent">Parent</button>

<!--/path1: modulePath>>into appRouting.ts/ Path2:compo inside module>>inside perticular
modules -->
